body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.form {
    max-width: 400px;
    margin: auto;
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #22c55e;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#products {
    margin-top: 20px;
    display: grid;
    gap: 10px;
}

.product {
    background: #1e293b;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
}

.product img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
}

.actions button {
    margin-top: 5px;
    width: 100%;
    background: #ef4444;
}
